.buttons{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_ {
    background-color: #d04614; 
    color: #ffffff;
    border: none;
    padding: 5px 20px; 
    border-radius: 10px; 
}

.custom-list-group{
    width: 50%;

    
}

.lista-proyectos {
    text-align: center; /* Centra horizontalmente los elementos de la lista */
    margin: 0 auto;     /* Centra el contenedor al 50% del ancho del elemento padre */
  }

ul {
    list-style: none;   /* Quita las viñetas de la lista */
    padding: 0;         /* Elimina el relleno predeterminado de la lista */
    width: 50%;
    align-self: center;
  }
