<!-- <app-navbar></app-navbar> -->

<div class="container">

  <h3 i18n class="mt-5 text-center">Resultados Entrevistas</h3>

  <div class="row justify-content-center">
    <div class="card col-md-5 m-3">
      <h5 class="card-title m-2">Empresa</h5>
      <div class="card-body">
        <strong>Cargo al que aplica: </strong><br>
        <strong>Proyecto asociado: </strong><br>
        <strong>Estado: </strong><br>
        <strong>Aprobado: </strong><br>
        <strong>Detalles: </strong><br>
      </div>
    </div>

    <div class="card col-md-5 m-3">
      <h5 class="card-title m-2">Empresa</h5>
      <div class="card-body">
        <strong>Cargo al que aplica: </strong><br>
        <strong>Proyecto asociado: </strong><br>
        <strong>Estado: </strong><br>
        <strong>Aprobado: </strong><br>
        <strong>Detalles: </strong><br>
    </div>
  </div>

  <!-- <div class="list-group  lista-entrevistas" >
    <ul>
  <li
        class="list-group-item text-center" 
        *ngFor="let entrevista of datosEntrevista" >
        {{ entrevista['fechaEntrevista'] }}
    </li>
  </ul>

  </div> -->

</div>