<!-- <app-navbar></app-navbar> -->

<div class="container">

  <h3 i18n class="mt-5 text-center">Resultados Entrevistas</h3>

  <div class="row justify-content-center">
    <div class="card col-md-5 m-3" *ngFor="let entrevista of entrevistas">
      <h5 class="card-title m-2">Empresa</h5>
      <div class="card-body">
        <div><strong i18n>Cargo al que aplica: </strong>{{ entrevista.perfilDescripcion }}</div>
        <div><strong i18n>Proyecto asociado: </strong>{{ entrevista.proyectoNombre }}</div>
        <div *ngIf='entrevista.estado'>
          <div><strong i18n>Estado: </strong>Finalizada</div>
          <div><strong i18n>Detalles: </strong>{{ entrevista.detalles }}</div>
        </div>
        <div *ngIf='!entrevista.estado'>
          <div ><strong i18n>Estado: </strong>Pendiente</div>
          <div><strong i18n>Detalles: </strong></div>
        </div>
      </div>
    </div>


</div>