<div>
  <div class="row text-center">
      <p></p>
      <h4 i18n> Crear ficha</h4>
      <p></p>

  </div>
</div>

<div class="column-container">
  <div class="column">
      <div class="centrar">
          <h5><span class="grey">1</span></h5>
          <h6 i18n>Seleccione proyecto sin ficha creada</h6>
          <hr>
      </div>

      <div class="list-group">

          <ul class="ul-custom">


                <li class="      
                list-group-item 
                list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                        (mouseout)="cambiarEstadoPuntero(false)" (click)="seleccionProyecto(proyecto,i)"                     
                        *ngFor="let proyecto of proyectos;let i = index" 
                        [class.item-seleccionado-proyecto]="i === itemSeleccionado"
                      >

                  {{ proyecto['nombreProyecto'] | titlecase}}
              </li>

          </ul>
      </div>
  </div>

  <div class="column">

      <div class="centrar">
          <h5><span class="grey">2</span></h5>
          <h6 i18n>Seleccione los empleados internos</h6>
          <hr>
      </div>


      <div class="list-group">

        <ul class="ul-custom">


              <li class="      
              list-group-item 
              list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                      (mouseout)="cambiarEstadoPuntero(false)"                        
                      *ngFor="let empleadointerno of empleadosInternos;let i = index" (click)="seleccionEmpleadosInternos(empleadointerno,i)" 
                      [ngClass]="{'item-seleccionado-empleado': itemSeleccionadoEmpleados.includes(i)}"
                    >

                <b i18n>Colaborador:</b> {{ empleadointerno.nombre | titlecase}} <br><b i18n>Cargo:</b> {{ empleadointerno.cargo | titlecase}}
            </li>

        </ul>
    </div>

  </div>

  <div class="column">
      <div class="centrar">
          <h5><span class="grey">3</span></h5>
          <h6 i18n>Seleccione los perfiles requeridos</h6>
          <hr>
      </div>


      <div class="list-group">

        <ul class="ul-custom">


              <li class="      
              list-group-item 
              list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                      (mouseout)="cambiarEstadoPuntero(false)"                        
                      *ngFor="let perfil of perfiles;let i = index" (click)="seleccionPerfiles(perfil,i)" 
                      [ngClass]="{'item-seleccionado-perfil': itemSeleccionadoPerfil.includes(i)}"
                    >

                <b i18n>Perfil:</b> {{ perfil.nombre | titlecase}} 
            </li>

        </ul>
    </div>
  </div>
</div>

<div>
  <div class="row centrado">
    <div class="buttons">

        <button i18n class="btn_" (click)="crearFicha()" [disabled]="botonDesactivado"[ngStyle]="{'background-color': botonDesactivado ? '#de6a40' : '#d04614'}">Crear</button>
        <button i18n class="btn_" (click)="iniciarEmparejamiento()" [disabled]="botonEmparejarDesactivado"[ngStyle]="{'background-color': botonEmparejarDesactivado ? '#de6a40' : '#d04614'}">Emparejar</button>
        <button i18n class="btn_" (click)="cancelCreate()">Volver</button>
      </div>
  </div>
</div>