<!-- <div class="container">
  <div class="titulo">
    <h2 i18n class="col-12">Creación Ficha</h2>

    <div style="background-color: transparent;">

      <div class="container">
        <div class="col">
          <h5 i18n>1. Proyecto seleccionado</h5>
          <select [(ngModel)]="proyectoSeleccionado" name="proyectoSeleccionado"
            (ngModelChange)="seleccionarProyecto()" [ngClass]="'select-ancho-fijo'">
            <option *ngFor="let proyecto of proyectos" [ngValue]="proyecto">{{ proyecto.nombreProyecto }}</option>
          </select>
        </div>
        <div class="col">
          <h5 i18n>2. Empleados internos asignados</h5>
          <select [(ngModel)]="empleadosSeleccionados" name="empleadosSeleccionados" multiple="multiple" [ngClass]="'select-ancho-fijo'">
            <option *ngFor="let empleadoInterno of empleadosInternos" [ngValue]="empleadoInterno">{{
              empleadoInterno.nombre }} | {{ empleadoInterno.cargo }}</option>
          </select>
        </div>
        <div class="col">
          <h5 i18n>3. Perfil requerido para contratación</h5>
          <select [(ngModel)]="perfilesSeleccionados" name="perfilesSeleccionados" multiple="multiple" [ngClass]="'select-ancho-fijo'">
            <option *ngFor="let perfil of perfiles" [ngValue]="perfil">{{perfil.nombre }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="buttons justify-content-center">
      <button i18n class="btn btn-warning" (click)="crearFicha()">Crear Ficha</button>
      <button i18n class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
    </div>
    
  </div>
</div> -->


<div>
  <div class="row text-center">
      <p></p>
      <h4> Crear ficha</h4>
      <p></p>

  </div>
</div>

<div class="column-container">
  <div class="column">
      <div class="centrar">
          <h5><span class="grey">1</span></h5>
          <h6>Seleccione proyecto</h6>
          <hr>
      </div>

      <div class="list-group">

          <ul class="ul-custom">
              <!-- <li class="      
          list-group-item 
          list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                  (mouseout)="cambiarEstadoPuntero(false)" (click)="listarPerfilesCandidatos(proyecto,i)"
                  *ngFor="let proyecto of proyectos;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
                > -->

                <li class="      
                list-group-item 
                list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                        (mouseout)="cambiarEstadoPuntero(false)"                        
                        *ngFor="let proyecto of proyectos;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
                      >

                  {{ proyecto['nombreProyecto'] | titlecase}}
              </li>

          </ul>
      </div>
  </div>

  <div class="column">

      <div class="centrar">
          <h5><span class="grey">2</span></h5>
          <h6>Seleccione los empleados internos</h6>
          <hr>
      </div>


      <div class="list-group">

        <ul class="ul-custom">
            <!-- <li class="      
        list-group-item 
        list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                (mouseout)="cambiarEstadoPuntero(false)" (click)="listarPerfilesCandidatos(proyecto,i)"
                *ngFor="let proyecto of proyectos;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
              > -->

              <li class="      
              list-group-item 
              list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                      (mouseout)="cambiarEstadoPuntero(false)"                        
                      *ngFor="let empleadointerno of empleadosInternos;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
                    >

                <b>Nombre:</b> {{ empleadointerno.nombre | titlecase}} <br><b>Cargo:</b> {{ empleadointerno.cargo | titlecase}}
            </li>

        </ul>
    </div>

      <!-- <div *ngFor="let listaperfil of listaPerfiles['perfiles']" class="list-group">
          
          <ul class="ul-custom">
              <li 
              class="
            bg-customcolor
            text-white     
            list-group-item 
            list-group-item-action           
            text-center"
            >
                {{ listaperfil['perfilNombre'] | titlecase}}
              </li>
  
            <li class="list-group-item
            text-right
            align-custom
            list-group-item-action
            "
            [class.cursor-pointer]="mostrarPuntero" 
            (mouseover)="cambiarEstadoPuntero(true)"
            (mouseout)="cambiarEstadoPuntero(false)"
            (click)="candidatoSeleccionado(candidato,listaperfil['perfilNombre'])"
            *ngFor="let candidato of listaperfil.candidatos"              
            >
                {{candidato.nombreCandidato | titlecase}} 
            </li> 
  
            </ul>
      </div> -->


  </div>

  <div class="column">
      <div class="centrar">
          <h5><span class="grey">3</span></h5>
          <h6>Seleccione los perfiles requeridos</h6>
          <hr>
      </div>


      <div class="list-group">

        <ul class="ul-custom">
            <!-- <li class="      
        list-group-item 
        list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                (mouseout)="cambiarEstadoPuntero(false)" (click)="listarPerfilesCandidatos(proyecto,i)"
                *ngFor="let proyecto of proyectos;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
              > -->

              <li class="      
              list-group-item 
              list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                      (mouseout)="cambiarEstadoPuntero(false)"                        
                      *ngFor="let perfil of perfiles;let i = index" [class.item-seleccionado]="i === itemSeleccionado"
                    >

                <b>Nombre:</b> {{ perfil.nombre | titlecase}} 
            </li>

        </ul>
    </div>
      <!-- <div class="ficha">
          <div class="campo text-center"><b>Resumen de contrato</b></div>
          <div class="campo"><b>Contrato No.:</b> {{ numeroContrato }}</div>
          <div class="campo"><b>Nombre:</b> {{ nombreCandidatoContratar }}</div>
          <div class="campo"><b>Cargo:</b> {{ perfilCandidatoContratar }}</div>
          <div class="campo"><b>Proyecto:</b> {{ nombreProyecto }}</div>
        </div>

        <div class="buttons">

          <button i18n class="btn_" (click)="contratarCandidato()">Contratar</button>
          <button i18n class="btn_" (click)="cancelar()">Volver</button>
        </div> -->

  </div>
</div>

<div>
  <div class="row">
      <p></p>
  </div>
</div>