/* navbar.component.css */
.navbar {
    width: 100%;
    padding: 10px 0; /* Espacio vertical */
    color: #fff; /* Color del texto */
  }
  
  .navbar a {
    color: #fff; /* Color de los enlaces */
    margin: 0 10px; /* Espacio horizontal entre enlaces */
  }
  