.form-group input {
    width: 70%; 
    border: 1px solid #999;
    border-bottom: 1px solid #000;
    border-top: 0px; 
    border-right: 0px; 
    border-left: 0px;
    font-family: 'Reboto', sans-serif;
    font-size: 20px;
  }

.titulo h2{
    font-family: 'Reboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    
  }

.titulo h2::after {
    content: '';
    display: block;
    width: 700px; 
    margin-top: 5px;
  }

.btn {
    background-color: #E25928;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 20px;
}

.buttons button {
    width: 25%;
    margin: 0 10px;
  }