<div class="container">
    <div class="titulo">
        <h2>Registro</h2>
        <div class="input-container">
            <input #nombre type="text" placeholder="Nombre Completo *" style="margin-top: 20px;" />
        </div>
        <div class="input-container">
            <input #correo type="text" placeholder="Correo Electrónico" style="margin-top: 20px;" />
        </div>
        <div class="input-container">
            <input #contrasena type="password" placeholder="Contraseña" style="margin-top: 20px;" />
        </div>
        <div class="input-container">
            <input #confirmcontrasena type="password" placeholder="Confirmar Contraseña" style="margin-top: 20px;" />
        </div>
        <div class="buttons" style="margin-top: 20px;">
            <button class="btn soyCandidato" [routerLink]="['/candidato/registroInformacion']">Soy Candidato</button>
            <button class="btn soyEmpresa">Soy Empresa</button>
            <button class="btn regresar" [routerLink]="['/login']">Regresar</button>
        </div>
    </div>