<div class="container-fluid justify-content-center" style="margin-bottom: 50px; margin-top: 20px;">
  <div class="titulo">
      <h2 i18n class="col-12">Desempeño candidato</h2>
      <form class="col-12" style="margin-top: 5rem;" [formGroup]="desempenoForm" (ngSubmit)="registrarDesempenoCandidato(desempenoForm.value)">
        <div class="row">

          <div class="offset-md-1 col-md-3">
            <h4 i18n class="col-12 m-4">Candidatos</h4>
            <div class="form-group">
              <div class="list-group">
  
                <ul class="ul-custom">
      
                      <li class="      
                      list-group-item 
                      list-group-item-action " [class.cursor-pointer]="mostrarPuntero" (mouseover)="cambiarEstadoPuntero(true)"
                              (mouseout)="cambiarEstadoPuntero(false)" (click)="seleccionCandidato(contrato.idContrato, contrato.nombreCandidato, i); mostrarFormulario()"                     
                              *ngFor="let contrato of contratos;let i = index" 
                              [class.item-seleccionado-contrato]="i === itemSeleccionado"
                            >
      
                        {{ contrato.nombreCandidato | titlecase }}
                    </li>
      
                  </ul>
              </div>
  
            </div>
          </div>
  
          <div class="offset-md-1 col-md-3" [hidden]="!formulario">
            <h4 i18n class="col-12 mb-4">{{ nombreCandidatoSeleccionado | titlecase }}</h4>
            
            <div class="form-group">
              <div class="mb-3 row">
                <div class="col-12">
                  <input formControlName="calificacion" type="text" class="form-control" placeholder="Calificación *">
                </div>
              </div>
              <div i18n class="alert alert-danger my-3"
                *ngIf="desempenoForm.get('calificacion')?.hasError('required') && desempenoForm.get('calificacion')?.touched">
                Debe ingresar una calificación
              </div>
              <div i18n class="alert alert-danger my-3" *ngIf="desempenoForm.get('calificacion')?.hasError('maxlength')">
                La calificación no debe exceder los 100 carácteres
              </div>
            </div>

            <div class="form-group">
                <div class="mb-3 row">
                  <div class="col-12">
                    <input formControlName="aspectosResaltar" type="text" class="form-control" placeholder="Aspectos a resaltar *">
                  </div>
                </div>
                <div i18n class="alert alert-danger my-3"
                  *ngIf="desempenoForm.get('aspectosResaltar')?.hasError('required') && desempenoForm.get('aspectosResaltar')?.touched">
                  Debe ingresar aspectos a resaltar
                </div>
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <div class="col-12">
                  <input formControlName="aspectosMejorar" type="text" class="form-control" placeholder="Aspectos a mejorar *">
                </div>
              </div>
              <div i18n class="alert alert-danger my-3"
                *ngIf="desempenoForm.get('aspectosMejorar')?.hasError('required') && desempenoForm.get('aspectosMejorar')?.touched">
                Debe ingresar aspectos a mejorar
              </div>
          </div>

          </div>

        </div>

        
      
        <div class="buttons justify-content-center">        
          <button i18n type="submit" class="btn btn-warning" [disabled]="!desempenoForm.valid">Crear</button>
          <button i18n class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
        </div>
    </form>
  </div>
</div>
