<div class="container">
  <div class="login-left">
    <h2>Inicio de sesión</h2>
    <div class="input-decorado">
      <div class="input-container">
        <input #usuario type="text" placeholder="Usuario" />
      </div>
      <div class="input-container">
        <input #contrasena type="password" placeholder="Contraseña" style="margin-top: 20px;" />
      </div>
    </div>
    <div class="buttons">
      <button class="btn btnIngresar" (click)="onLogInUsuario(usuario.value, contrasena.value)">Ingresar</button>
      <button class="btn btnRegistrarse">Registrarse</button>
    </div>
  </div>
  <div class="login-right">
    <img src="assets/imgLogin.PNG" alt="Imagen" width="470" height="200"/>
  </div>
</div>
