<!-- <app-navbar></app-navbar> -->

<div class="container">

  <div class="entrevistas">

    <h3 i18n class="row mt-5 text-center">Entrevistas Programadas</h3>
  
    <table class="table table-bordered entrevistas-programadas mt-5">
      <thead>
        <tr>
          <th scope="col" i18n>Fecha</th>
          <th scope="col" i18n>Empresa</th>
          <th scope="col" i18n>Hora</th>
  
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let entrevista of datosEntrevista">
          <td scope="row">{{ entrevista.fechaEntrevista | date: 'MMM d, y' }}</td>
          <td>{{ entrevista.empresaNombre }}</td>
          <td>{{ entrevista.horaEntrevista }}</td>
        </tr>
<!--         <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td ></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div class="pruebas" style="margin-top: 100px;">

    <h3 i18n class="row mt-5 text-center">Pruebas Programadas</h3>
  
    <table class="table table-bordered entrevistas-programadas mt-5 mb-5">
      <thead>
        <tr>
          <th scope="col" i18n>Empresa</th>
          <th scope="col" i18n>Fecha límite</th>
          <th scope="col" i18n></th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td class="buttons">
            <button i18n class="btn-abc" [disabled]>Presentar pruebas</button>
          </td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td class="buttons">
            <button i18n class="btn-abc" [disabled]>Presentar pruebas</button>
          </td>
        </tr>
        <tr>
          <td scope="row"></td>
          <td ></td>
          <td class="buttons">
            <button i18n class="btn-abc" [disabled]>Presentar pruebas</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="list-group  lista-entrevistas" >
    <ul>
  <li
        class="list-group-item text-center" 
        *ngFor="let entrevista of datosEntrevista" >
        {{ entrevista['fechaEntrevista'] }}
    </li>
  </ul>

  </div> -->

</div>